
@{
    ViewBag.Title = "Formulario";
}
<h1 href="">Cadastro de Pessoas</h1>
<form action="~/Registro/Index" method="post">
    <label for="PessoaId"> Código </label>
    <input type="number"  placeholder="Id" class="form-control" name="PessoaId">
    <br />
    <label for="Nome">Nome</label>
    <input type="text"  name="Nome" placeholder="Nome" class="form-control">
    <br />
    <label for="DataDeNascimento">Data de Nascimento</label>
    <input type="date"  name="DataDeNascimento" placeholder="Data de Nascimento" class="form-control">
    <br />
    <label for="RG">RG</label>
    <input type="text" name="RG"  placeholder="RG" class="form-control">

    <br />
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <a href="/Home/Index" class="btn btn-default">Cancelar</a>
        </div>
    </div>
</form>
