@model CadastroPessoas.Models.Pessoa


@{
    ViewBag.Title = "Index";
}


<h1 class="page-header">Iniciar Atividade</h1>

<p>Para iniciar a atividade de uma olhada abaixo no que deseja fazer</p>

<a href="~/Formulario/NovoFormulario" class="btn btn-primary">Novo formulário</a>
<a href="~/Registro/Lista" class="btn btn-success">Pessoas com cadastro</a>

