
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Principal</h2>
<p>Unic - Universidade de Cuiabá</p>
<p>Nome: Lucas André Lescano Cruz</p>
<p>Disciplina: Programação Web II</p>
<p>Curso: Análise e Desenvolviento de Sistema - 5° Semestre</p>
<p>Professor: Rodrigo</p>
<hr />
<b>Atividades Proposta</b>
<ol>
    <li>Criar uma solution/project com seu nome</li>
    <li>Criar 3 controllers (nome livre)</li>
    <ul>
        <li>2.1 Uma controller é a Home</li>
        <li>2.2 As outras Controllers terão a página index e mais um formulários de cadastro</li>
    </ul>
    <li>Fazer com que o formulário seja entregue ao usuário e recuperado preenchido</li>
    <li><b>Entrega 01/04</b></li>
</ol>
<hr />

<a href="~/Formulario/Index" class="btn btn-success">Inicar Atividade</a>


